{% extends "CRM/bars/base.html" %}

{% load bootstrap4 %}

{% block extrahead %}
 <script
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"
  ></script>
  <script type="text/javascript">
      $(function () {

      $('[data-name-edit]').on('input', function () {
        let data = $(this).val().trim();
        let items = data.split(' ');
        let result = items.splice(0, 2);
        result.push(items.join(' '));
        $('#' + '{{ form.user.last_name.id_for_label }}').val(result[0]);
        $('#' + '{{ form.user.first_name.id_for_label }}').val(result[1]);
        $('#' + '{{ form.user.patronymic.id_for_label }}').val(result[2]);
      });
    });

       $(document).ready(function() {
        $("#id_detail-phone_number").inputmask({"mask": "+7 (999) 999-99-99"});
      });
  </script>
{% endblock %}

{% block content %}
  <div class="content-section ml-4 mt-4 w-50">
    <legend class="border-bottom mb-2">Настройка профиля</legend>
    <form method="post">

      {% csrf_token %}
      <div>Логин: {{ user.username }}</div>
      <p></p>
      <div>Квалификация: {{ user.qualifiacation }}</div>
      <p></p>
      {% bootstrap_field form.user.fullname %}
      {% bootstrap_field form.user.last_name %}
      {% bootstrap_field form.user.first_name %}
      {% bootstrap_field form.user.patronymic %}
      {% bootstrap_field form.user.email %}
      {% bootstrap_form form.detail show_help=False %}

      <input type="submit" value="Сохранить" class="btn btn-success">

      {% if user.has_usable_password %}
        <a
          href="{% url 'accounts:password-change' %}"
          class="btn btn-outline-danger"
        >Сменить пароль</a>
      {% endif %}

    </form>
  </div>
{% endblock %}
