{% load static html_helper %}
<!-- Для отступа style="margin-top: 8px;" -->
<nav class="col-md-2 d-none d-md-block sidebar" id="sidebar">
  <div class="sidebar-sticky">
    <ul class="navbar-nav flex-column">
      {% if user.is_first_login %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="
            {% url 'accounts:profile' %}"
          name="Профиль"
        >
          Профиль
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="
            {% url 'qualifiacation:qualifications' %}"
          name="Редактирование квалификации работника"
        >
          Редактирование квалификации работника
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>