{% extends "CRM/bars/base.html" %}

{% load bootstrap4 %}
{% block nav %}
{% endblock nav %}


{% block content %}


<div class="container-fluid mt-4 ml-2 ">
    <form method="POST">
            {% csrf_token %}
    <legend class="mb-2">{{user_detail.last_name }} {{user_detail.first_name}} {{user_detail.patronymic}}</legend>
    <div class="row border-top mb-2">
      <div class="container-fluid mt-1">

        <a
          name="cancel" href="{% url 'users:list' %}"
          class="btn btn-sm btn-outline-info"
        >Назад</a>
          {% if user.is_manager %}
          <a
          name="cancel" href="{% url 'users:update' object.id %}"
          class="btn btn-sm btn-outline-info"
        >Редактировать</a>
          {% endif %}
          {% if user.is_admin and user_detail.is_manager %}
          <a
            class="btn btn-sm btn-outline-danger"
            href="{% url 'users:delete' object.id %}"
          >Удалить</a>
          {% endif %}
          {% if user.is_manager and user_detail.is_worker %}
          <a
            class="btn btn-sm btn-outline-danger"
            href="{% url 'users:delete' object.id %}"
          >Удалить</a>
          {% endif %}
          {% if user.is_manager and user.id != user_detail.id %}
          <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#myModal">Премировать</button>

          <!-- Модальное окно -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Премия</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <p>Сумма премии <input required type="number" name="money">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button class="btn btn-outline-info" type="submit" value="1" name="give_prize">Выдать премию</button>
                      </div>
                    </div>
                  </div>
                </div>
          {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col-3 border-right">
            {% if user_detail.qualifiacation %}
                <div class="font-weight-bold">Должность:</div>
            {% endif %}
            {% if user_detail.email %}
                <div class="font-weight-bold">Почта:</div>
            {% endif %}
            {% if user_detail.phone_number %}
                <div class="font-weight-bold">Номер телефона:</div>
            {% endif %}

        </div>
        <div class="col">
            {% if user_detail.qualifiacation %}
                <div>{{ user_detail.qualifiacation }} </div>
            {% endif %}
            {% if user_detail.email %}
                <div>{{ user_detail.email }} </div>
            {% endif %}
            {% if user_detail.phone_number %}
                <div>{{ user_detail.phone_number }} </div>
            {% endif %}
        </div>
    </div>
    {% if user.is_manager %}
        {% if prize %}
            <p></p>
            <table class="table table-sm table-bordered">
            <tr>
                <th scope="col"><b>Дата начисления премии</b></th>
                <th scope="col"><b>Премии</b></th>
                </tr>
            {% for prize in prize %}

            <tr>
                <td>{{ prize.date_accruals }}</td>
                <td>{{ prize.sum_salary }} руб.</td>
            </tr>

            {% endfor %}
             </table>
        {% endif %}
    {% if money %}
    <p></p>
    <table class="table table-sm table-bordered">
        <tr>
                <th scope="col"><b>Дата начисления заработной платы</b></th>
                <th scope="col"><b>Деньги</b></th>
            </tr>
        {% for money in money %}

        <tr>
          <td>{{ money.date_accruals }}</td>
            <td>{{ money.sum_salary }} руб.</td>
        </tr>

  {% endfor %}
      </table>
      {% endif %}
    {% if times %}
    <p></p>
    <table class="table table-sm table-bordered">
        <tr>
                <th scope="col"><b>Время прихода на работу</b></th>
                <th scope="col"><b>Время ухода с работы</b></th>
            </tr>
        {% for time in times %}

        <tr>
          <td>{{ time.time_of_arrival }}</td>
            {% if time.time_of_leaving %}
                <td>{{ time.time_of_leaving }}</td>
            {% else %}
                <td>Сейчас на работе</td>
            {% endif %}
        </tr>

  {% endfor %}
      </table>
    {% bootstrap_pagination times extra=filter.data.urlencode %}
    {% endif %}{% endif %}
    </form>
</div>
{% endblock content %}
