{% extends "CRM/bars/base.html" %}

{% load bootstrap4 %}

{% block extrahead %}
 <script
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"
  ></script>

{% endblock %}

{% block content %}
  <div class="content-section ml-4 mt-4 w-50">
      <legend class="border-bottom mb-2">Список работников </legend>
    <form method="post">
        {% if not user.is_worker_user %}
        <a name="add-new"
             href="{% url 'users:add' %}"
             class="btn btn-sm btn-info"
          >
            Добавить сотрудника
          </a>
        <p></p>
        {% endif %}
       <table class="table table-sm table-bordered">
           <tr>
               <th scope="col"><b>ФИО</b></th>
          <th scope="col"><b>Должность</b></th>
               <th scope="col"><b>Статус</b></th>
        </tr>
        {%for user in users%}



        <tr>
            <td> <div> <a href="{% url 'users:detail' user.id %}">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</a></div></td>
         <td>{{ user.qualifiacation }}</td>
            <td>{{ user.status }}</td>
        </tr>

  {%endfor%}
      </table>

    </form>
      {% bootstrap_pagination page_obj extra=filter.data.urlencode %}
  </div>
{% endblock %}
